@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
html {
  font-size: 16px; }

.extend-portada2, .logo, .foto-contacto {
  border-radius: 2em;
  margin-top: 0.5em;
  margin-bottom: 3em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e9b72f; }

header {
  height: 19rem;
  position: relative;
  border-bottom: 0.1em solid black;
  display: flex;
  justify-content: space-between;
  gap: 0.5em; }
  header h1 {
    font-family: "Nothing you could do";
    background-color: #353131d5;
    color: #e9b72f;
    line-height: 18rem;
    clip-path: circle(110px);
    width: 8em;
    padding-left: 2em; }

.logo {
  width: 15rem;
  margin-left: 3em; }

.foto-contacto {
  width: 30rem;
  margin-right: 3em; }

.nav-links {
  margin: 1em;
  position: relative;
  bottom: 3.2em; }
  .nav-links ul {
    background-color: #24252a;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 0em;
    border: 1px solid white; }
  .nav-links li {
    font-family: "Montserrat", sans-serif;
    margin-top: 1em;
    display: inline-block;
    padding: 0em 1em; }
  .nav-links a {
    text-decoration: none;
    font-size: 2.5em;
    color: #e9b72f;
    transition: all 0.3s ease 0s; }
    .nav-links a:hover {
      color: #118048; }

main {
  margin-top: -2em;
  margin-left: 0.5rem;
  width: 90%; }

.btn-style {
  background-color: #24252a;
  padding: 0.5rem;
  color: #f5ce94;
  margin: 1rem 0;
  text-transform: uppercase; }

/* Footer */
footer {
  height: 4rem;
  background-color: #353131d5;
  border-top: 3px black solid;
  display: flex;
  justify-content: center; }
  footer h3 {
    font-family: "Montserrat";
    padding-top: 0.5rem; }
    footer h3:hover {
      transform: scale(1.2, 1.2); }
  footer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f5ce94;
    transition: all 0.3s ease 0s;
    margin-left: 2rem; }
    footer a:hover {
      color: #118048; }

.icons {
  margin-right: 3rem; }
  .icons i:hover {
    color: #118048;
    transform: scale(1.2, 1.2); }

.fa-color {
  color: #f5ce94; }

@media all and (max-width: 1080px) {
  .logo {
    display: none; } }

@media all and (max-width: 950px) {
  header {
    justify-content: space-between; }
    header h1 {
      font-size: 2rem;
      clip-path: circle(90px); }
    header .foto-contacto {
      width: 25em; } }

@media all and (max-width: 700px) {
  header h1 {
    font-size: 1.7rem; }
  header .foto-contacto {
    width: 20em; }
  .nav-links ul li a {
    font-size: 1.3rem; } }

@media all and (max-width: 600px) {
  .foto-contacto {
    width: 18rem;
    margin-right: 1em; }
  .nav-links ul li a {
    font-size: 1rem; } }

@media all and (max-width: 540px) {
  header h1 {
    font-size: 1.2rem;
    clip-path: circle(70px);
    padding-left: 1.3em;
    margin-left: 0.5em; }
  header .foto-contacto {
    width: 13rem;
    height: 13rem;
    margin-right: 0.5em; }
  footer a {
    font-size: 1rem; }
  .icons {
    padding-top: 0.5rem; } }

@media all and (max-width: 440px) {
  header .foto-contacto {
    width: 10rem;
    height: 10rem; }
  .nav-links ul li a {
    font-size: 0.8rem; } }
