@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
html {
  font-size: 16px; }

.extend-portada2, .logo, .foto-sabato {
  border-radius: 2em;
  margin-top: 0.5em;
  margin-bottom: 3em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e9b72f; }

/* Portada */
header {
  height: 19rem;
  position: relative;
  border-bottom: 0.1em solid black;
  display: flex;
  justify-content: space-between;
  gap: 0.5em; }
  header h1 {
    font-family: "Nothing you could do";
    background-color: #353131d5;
    color: #e9b72f;
    line-height: 18rem;
    clip-path: circle(110px);
    width: 8em;
    padding-left: 1.3em; }

.logo {
  width: 15rem;
  margin-left: 3em; }

.foto-sabato {
  width: 30rem;
  margin-right: 3em; }

/* Navmenu */
.nav-links {
  margin: 1em;
  position: relative;
  bottom: 3.2em; }
  .nav-links ul {
    background-color: #24252a;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 0em;
    border: 1px solid white; }
  .nav-links li {
    font-family: "Montserrat", sans-serif;
    margin-top: 1em;
    display: inline-block;
    padding: 0em 1em; }
  .nav-links a {
    text-decoration: none;
    font-size: 2.5em;
    color: #e9b72f;
    transition: all 0.3s ease 0s; }
    .nav-links a:hover {
      color: #118048; }

h3 {
  width: 13rem;
  color: white;
  padding: 1rem;
  padding-left: 0.7em;
  line-height: 2.5em;
  font-size: 1.7rem;
  font-style: oblique; }

p {
  color: white;
  align-items: center;
  line-height: 1.5em;
  font-size: 1.3rem;
  padding: 1em; }

iframe {
  width: 25rem;
  height: 20rem; }

.ms {
  font-family: "Luxurious Roman";
  background-color: #24252a;
  margin: 3em;
  width: 90%;
  border-radius: 3em;
  display: flex;
  margin-top: -2em; }

.jel {
  font-family: "Luxurious Roman";
  background-color: #24252a;
  margin: 3em;
  width: 90%;
  border-radius: 3em;
  display: flex; }

.dinah {
  font-family: "Luxurious Roman";
  background-color: #24252a;
  margin: 3em;
  width: 90%;
  border-radius: 3em;
  display: flex; }
  .dinah iframe {
    height: 8rem; }

.dsm {
  font-family: "Luxurious Roman";
  background-color: #24252a;
  margin: 3em;
  width: 90%;
  border-radius: 3em;
  display: flex; }

/* Footer */
footer {
  height: 4rem;
  background-color: #353131d5;
  border-top: 3px black solid;
  display: flex;
  justify-content: center; }
  footer h3 {
    font-family: "Montserrat";
    padding-top: 0.5rem; }
    footer h3:hover {
      transform: scale(1.2, 1.2); }
  footer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f5ce94;
    transition: all 0.3s ease 0s;
    margin-left: 2rem; }
    footer a:hover {
      color: #118048; }

.icons {
  margin-right: 3rem; }
  .icons i:hover {
    color: #118048;
    transform: scale(1.2, 1.2); }

.fa-color {
  color: #f5ce94; }

/* Mediaqueries Discografia */
@media all and (max-width: 1080px) {
  .logo {
    display: none; }
  h3 {
    line-height: 1em;
    width: auto; }
  .ms {
    flex-direction: column;
    align-items: center;
    margin-left: 1em; }
  .jel {
    flex-direction: column;
    align-items: center;
    margin-left: 1em; }
  .dinah {
    flex-direction: column;
    align-items: center;
    margin-left: 1em; }
  .dsm {
    flex-direction: column;
    align-items: center;
    margin-left: 1em; } }

@media all and (max-width: 950px) {
  header {
    justify-content: space-between; }
    header h1 {
      font-size: 2rem;
      clip-path: circle(90px); }
    header .foto-sabato {
      width: 25em; } }

@media all and (max-width: 700px) {
  header h1 {
    font-size: 1.7rem; }
  header .foto-sabato {
    width: 20em; }
  .nav-links ul li a {
    font-size: 1.3rem; } }

@media all and (max-width: 600px) {
  .foto-sabato {
    width: 18rem;
    margin-right: 1em; }
  .nav-links ul li a {
    font-size: 1rem; } }

@media all and (max-width: 540px) {
  header h1 {
    font-size: 1.2rem;
    clip-path: circle(70px);
    padding-left: 1.3em;
    margin-left: 0.5em; }
  header .foto-sabato {
    width: 13rem;
    height: 13rem;
    margin-right: 0.5em; }
  footer a {
    font-size: 1rem; }
  .icons {
    padding-top: 0.5rem; } }

@media all and (max-width: 440px) {
  header .foto-sabato {
    width: 10rem;
    height: 10rem; }
  .nav-links ul li a {
    font-size: 0.8rem; }
  h3 {
    font-size: 1.2rem; }
  p {
    font-size: 1rem; }
  iframe {
    width: 19rem; } }
