/* mediaqueries Style */
@media all and (max-width: 1199px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 1096px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
    margin-top: 35px;
  }

  .nav-links {
    left: 15px;
  }

  .body-info p {
    font-size: 13px;
  }

  .foto-toque {
    height: 600px;
    margin-top: 20px;
  }

  .videos iframe {
    width: 300px;
  }
}

@media all and (max-width: 991px) {
  // Carousel y Bio
  .mf {
    width: 90%;
  }

  .foto-colon {
    width: 164px;
    height: 420px;
    margin-top: 90px;
  }
  // Subtitulo Bio
  .body-info {
    margin: 10px;
  }
  // Biografia
  .mt {
    width: 90%;
  }

  .body-info p {
    font-size: 11px;
  }
  // Segunda seccion
  .multimedia {
    margin: 30px;
  }

  // videos
  .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .videos iframe {
    width: fit-content;
    height: 200px;
  }

  footer {
    position: relative;
  }
  // Inicio
  h3 {
    position: absolute;
    left: -70px;
  }
  // Redes
  footer .icons {
    position: absolute;
    right: 10px;
  }
}

@media all and (max-width: 929px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 814px) {
  // Portada
  .container-foto {
    position: relative;
  }

  .portada {
    display: none;
  }

  .logo {
    position: absolute;
    left: 5px;
  }

  .perfil {
    margin-left: 130px;
  }

  // Encabezado
  h1 {
    margin-top: 15px;
    font-size: 1.2rem;
  }
  // Redes
  .container-redes ul {
    position: absolute;
    bottom: -7px;
    left: 0px;
    font-size: 13px;
    display: flex;
  }

  .container-redes ul li {
    margin: 7px;
  }
  // Audio
  #audio {
    position: absolute;
    right: 10px;
    bottom: 25px;
  }
  // Navmenu
  .nav-links ul li a {
    font-size: 25px;
  }
}

@media all and (max-width: 480px) {
  // Portada
  .container-foto {
    position: relative;
  }

  .portada {
    display: none;
  }

  .logo {
    position: absolute;
    left: 5px;
  }

  .perfil {
    margin-left: 130px;
  }
  // Encabezado
  h1 {
    margin-top: 15px;
    font-size: 1.5rem;
  }
  // Redes
  .container-redes ul {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 13px;
    display: flex;
  }

  .container-redes ul li {
    margin: 7px;
  }
  // Audio
  #audio {
    position: absolute;
    right: 10px;
    bottom: 35px;
    width: 250px;
  }
  // Navmenu
  .nav-links {
    position: absolute;
    left: 30px;
  }

  .nav-links ul {
    height: 50px;
    margin-bottom: 25px;
  }

  .nav-links ul li {
    padding: -1px;
  }

  .nav-links ul li a {
    font-size: 19px;
  }
}

@media all and (max-width: 430px) {
  #audio {
    width: 250px;
  }

  h1 {
    font-size: 1.5rem;
  }
  // Redes
  .container-redes ul li {
    font-size: 12px;
    margin-bottom: 0px;
  }
  // Navmenu
  .nav-links {
    bottom: -30px;
  }

  .nav-links ul {
    padding: 5px;
    margin-bottom: 7px;
  }

  .nav-links ul li {
    margin: auto;
  }
  // Carousel
  .mf {
    width: 300px;
  }
  // Biografia
  .mt {
    width: 90%;
  }
  // Segunda seccion
  .multimedia {
    margin-left: auto;
  }

  // Videos
  .videos {
    margin: auto;
    padding-top: 90px;
  }
  .videos iframe {
    width: fit-content;
  }
}
