/* Mediaqueries Discografia */

@mixin discos-vertical {
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
}

@media all and (max-width: 1080px) {
  .logo {
    display: none;
  }

  h3 {
    line-height: 1em;
    width: auto;
  }

  .ms {
    @include discos-vertical;
  }
  .jel {
    @include discos-vertical;
  }

  .dinah {
    @include discos-vertical;
  }

  .dsm {
    @include discos-vertical;
  }
}

@media all and (max-width: 950px) {
  header {
    justify-content: space-between;
    h1 {
      font-size: 2rem;
      clip-path: circle(90px);
    }

    .foto-sabato {
      width: 25em;
    }
  }
}

@media all and (max-width: 700px) {
  header {
    h1 {
      font-size: 1.7rem;
    }

    .foto-sabato {
      width: 20em;
    }
  }

  .nav-links ul li a {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 600px) {
  .foto-sabato {
    width: 18rem;
    margin-right: 1em;
  }

  .nav-links ul li a {
    font-size: 1rem;
  }
}

@media all and (max-width: 540px) {
  header {
    h1 {
      font-size: 1.2rem;
      clip-path: circle(70px);
      padding-left: 1.3em;
      margin-left: 0.5em;
    }

    .foto-sabato {
      width: 13rem;
      height: 13rem;
      margin-right: 0.5em;
    }
  }

  // Footer
  footer a {
    font-size: 1rem;
  }

  .icons {
    padding-top: 0.5rem;
  }
}

@media all and (max-width: 440px) {
  header {
    .foto-sabato {
      width: 10rem;
      height: 10rem;
    }
  }

  .nav-links ul li a {
    font-size: 0.8rem;
  }
  // Discos
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  iframe {
    width: 19rem;
  }
}
