/* mediaqueries Style */

@media all and (max-width: 1025px) {
  // Fotos portada

  .container-foto {
    justify-content: center;
  }

  .perfil {
    width: 20rem;
  }

  .logo {
    width: 15rem;
  }

  .portada {
    width: 20rem;
  }

  // Container redes
  audio {
    width: 15rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container-redes i {
    font-size: 2rem;
    padding-top: 0.5rem;
  }

  // Navmenu

  .nav-links a {
    font-size: 1.7rem;
  }

  // Bio
  .container p {
    font-size: 1.3em;
  }

  //Segunda seccion
  .videos iframe {
    width: 20rem;
    height: 10rem;
  }
}

@media all and (max-width: 867px) {
  .portada {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .container-redes i {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}

@media all and (max-width: 725px) {
  // Encabezado
  h1 {
    padding-top: 0.5rem;
  }
  // Redes
  .container-redes ul {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
  }

  // Audio
  audio {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
    width: 17rem;
  }
}

@media all and (max-width: 500px) {
  //Foto Portada
  .perfil {
    width: 17rem;
  }

  .logo {
    width: 13rem;
  }

  // Navmenu
  .nav-links {
    bottom: -4em;
    a {
      font-size: 1rem;
    }
  }

  // Biografia
  .container p {
    font-size: 1em;
  }

  // Footer
  footer a {
    font-size: 1rem;
  }

  .icons {
    padding-top: 0.5rem;
  }
}

@media all and (max-width: 430px) {
  //Foto Portada
  .perfil {
    width: 13rem;
  }

  .logo {
    width: 10rem;
  }

  // Encabezado
  h1 {
    font-size: 1.2rem;
  }

  // Audio
  audio {
    width: 14rem;
  }

  // Navmenu
  .nav-links a {
    font-size: 0.8rem;
  }
}
