/* mediaqueries Discografia */

@mixin discos810px {
  margin-top: 30px;
  display: table-caption;
  width: 400px;
}

@media all and (max-width: 1110px) {
  .logo img {
    width: 250px;
  }
  .foto img {
    width: 300px;
  }
}

@media all and (max-width: 810px) {
  .logo {
    display: none;
  }
  .discografia {
    position: absolute;
  }
  h1 {
    width: 250px;
  }
  .ms {
    @include discos810px();
  }
  .jel {
    @include discos810px();
  }

  .dinah {
    @include discos810px();
  }

  .dsm {
    @include discos810px();
  }
}

@media all and (max-width: 660px) {
  .foto img {
    width: 250px;
  }

  .nav-links ul li {
    padding: 8px;

    a {
      font-size: 25px;
    }
  }
}

@media all and (max-width: 520px) {
  header {
    position: relative;

    h1 {
      clip-path: circle(80px);
      width: 180px;
    }
  }

  .foto img {
    margin-top: 15px;
    position: absolute;
    right: 20px;
    height: 250px;
    width: 250px;
  }

  .logo img {
    display: none;
  }

  .consultas {
    margin: auto;
    width: 100%;
  }

  h2 {
    margin-left: 20px;
  }

  .nav-links {
    padding-top: 8px;
    margin-left: 10px;

    ul {
      height: 55px;
      padding-right: 15px;
      padding-left: 0px;
    }

    li {
      padding: 0px 11px;
    }

    a {
      font-size: 20px;
    }
  }
}

@media all and (max-width: 445px) {
  .foto img {
    width: 200px;
  }

  .nav-links ul li {
    padding: 5px;

    li a {
      font-size: 19px;
    }
  }

  .ms {
    margin-left: 5px;
    width: 350px;
  }

  .jel {
    margin-left: 5px;
    width: 350px;
  }

  .dinah {
    margin-left: 5px;
    width: 350px;
  }

  .dsm {
    margin-left: 5px;
    width: 350px;
  }
}
