@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

// Mapa colores //
$colores: (
  primario: #e9b72f,
  portada: #090506,
  redes: #353131d5,
  hover: #118048,
  icons: #f5ce94,
  nav: #24252a,
);

// Extend //
.extend-h2 {
  font-family: "Nothing you could do", serif;
  background-color: map-get($colores, redes);
  color: map-get($colores, primario);

  line-height: 5rem;
  clip-path: circle(at 50% 50%);
  margin: auto;
}

// mixin //
@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

body {
  background-color: map-get($colores, primario);
  margin: -2rem;
}

header {
  position: relative;
  border-bottom: 2px solid black;
  @include sizes(100%, 26rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Portada (fotos y logo) */
.container-foto {
  @include sizes(100%, 16rem);
  margin-top: 1rem;
  background-color: #090506;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  img {
    height: 100%;
    animation-name: portada;
    animation-timing-function: ease-in;
    animation-duration: 3s;
  }
}

@keyframes portada {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* links redes */
.container-redes {
  background-color: map-get($colores, redes);
  @include sizes(100%, 6rem);
  margin-top: -3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Audio */
audio {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  &:hover {
    transform: scale(1.2, 1.2);
  }
}

// Encabezado

h1 {
  font-family: "Nothing you could do";
  font-size: 2.2rem;
  color: map-get($colores, icons);
  padding-top: 1.5rem;
}

// Redes
.container-redes ul {
  padding: 1rem;
  display: inline-block;

  li {
    margin-right: 1rem;
    display: inline-block;
  }

  i {
    transition: all 0.3s ease 0s;
    &:hover {
      color: map-get($colores, hover);
      transform: scale(1.2, 1.2);
    }
  }
}

.fa-color {
  color: map-get($colores, icons);
}

/* navbar */
@import "navmenu";
.nav-links {
  position: absolute;
  bottom: -5rem;
  left: 2rem;
}

// Seccion Biografia
.Biografia {
  border-bottom: 2px solid black;
  margin-top: 1rem;
}

.container {
  margin: 1rem auto;

  h2 {
    @extend .extend-h2;
    font-size: 2em;
    display: flex;
    justify-content: center;
  }

  img {
    height: 45rem;
  }

  p {
    font-family: "Luxurious Roman";
    font-size: 1.5em;
    margin-top: 1em;
  }
}

// Border Radius
.br {
  border-radius: 4rem;
}

// Linea entre parrafos
.borderbottom {
  border-bottom: 2px solid black;
}

// Seccion Multimedia
.multimedia {
  width: 80%;
  margin: 1rem auto;
}

.nombre {
  margin-top: 2rem;

  h2 {
    @extend .extend-h2;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
  }
}

.videos {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  iframe {
    @include sizes(25rem, 15rem);
    margin: 1rem;
  }
}

/* footer */
footer {
  height: 4rem;
  background-color: map-get($colores, redes);
  border-top: 3px black solid;
  display: flex;
  justify-content: center;

  h3 {
    font-family: "Montserrat";
    padding-top: 0.5rem;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: map-get($colores, icons);
    transition: all 0.3s ease 0s;
    margin-left: 2rem;
    &:hover {
      color: map-get($colores, hover);
    }
  }
}

.icons {
  margin-right: 3rem;

  i:hover {
    color: map-get($colores, hover);
    transform: scale(1.2, 1.2);
  }
}

.fa-color {
  color: map-get($colores, icons);
}

@import "mediaStyle";
