@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9b72f;
}

header {
  position: relative;
  border-bottom: 2px solid black;
  height: 350px;
}

.logo {
  width: 300px;
  height: 280px;
  border-radius: 40px;
  position: absolute;
  left: 20px;
  padding: 20px;
}

header h1 {
  background-color: #353131d5;
  color: #f5ce94;
  line-height: 277px;
  display: flex;
  justify-content: center;
  clip-path: circle(100px);
  margin-right: 80px;
}

.foto {
  width: 400px;
  height: 300px;
  position: absolute;
  right: 30px;
  top: 10px;
  border-radius: 40px;
}

.nav-links {
  margin: 20px;
  position: relative;
  bottom: 55px;
}

nav ul {
  background-color: #24252a;
  display: inline-block;
  padding-bottom: 10px;
  border: 1px solid white;
}

nav ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  display: inline-block;
  padding: 0px 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 35px;
  color: #f5ce94;
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  color: #0088a9;
}

main {
  margin: 20px auto;
  width: 50%;
}

.formulario {
  max-width: 500px;
  margin: 2rem 2rem;
  border: 2px solid #24252a;
  padding: 2rem;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
}

#boton {
  border: 0;
  background-color: #24252a;
  padding: 0.5rem;
  color: #f5ce94;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease 0;
}
#boton:hover {
  color: #0088a9;
}

@media all and (max-width: 480px) {
  header {
    position: relative;
  }

  .contacto {
    position: absolute;
    top: 100px;
    left: 40px;
  }

  header h1 {
    clip-path: circle(70px);
    width: 140px;
  }

  .foto {
    margin-top: 40px;
    height: 230px;
    width: 250px;
  }

  .logo {
    margin-top: -5px;
    position: absolute;
    left: 176px;
    height: 248px;
    width: 200px;
  }

  .consultas {
    margin: auto;
    width: 100%;
  }
  h2 {
    margin-left: 20px;
  }

  .nav-links {
    padding-top: 8px;
    margin-left: 0px;
  }

  .nav-links ul {
    height: 55px;
  }
  .nav-links ul li a {
    font-size: 23px;
  }
}

@media all and (max-width: 430px) {
  body {
    background-color: blueviolet;
  }

  .foto {
    display: none;
  }

  .nav-links ul li {
    padding: 5px;
  }

  .nav-links ul li a {
    font-size: 19px;
  }
}
